body{
    background-color: rgb(233, 130, 211);
}

.container{
    padding: 2% 3%;
    width: 33%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3%;
    border-radius: 30px;
 
}

.img-ppl{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--light-shadow);
}

.person{
    display: flex;
    align-items: center;
 
}

.content{
    margin: 0px;
    padding: 15px;
}
.content p{
    color:grey;
    margin: 10px;
    padding: 0px;
}
.content h4{
    font-weight: 100px !important;
    letter-spacing: 1px;
    font-size: 19px;
    margin: 10px;
    padding: 0px;
}

.btn-clear{
    width: 80%;
    background-color: rgb(233, 130, 211);
    border: 0;
    border-radius: 2px;
    text-align: center;
    margin: auto;
    height: 40px;
    margin-top: 20px;
}


.birthdays{
    letter-spacing: 2px;
    color:rgb(233, 130, 211);
    text-align: center;
    font-size: 24px;
}